[Unit]

Description=Tag service

After=syslog.target

[Service]

User=root

WorkingDirectory=/usr/share/servers/shooting/tag
Environment=SPRING_PROFILES_ACTIVE=development
ExecStart=/usr/share/servers/shooting/tag/service-server.sh

SuccessExitStatus=143

[Install]

WantedBy=multi-user.target