[Unit]

Description=IPSC service

After=syslog.target

[Service]

User=root

WorkingDirectory=/usr/share/servers/shooting/ipsc
Environment=SPRING_PROFILES_ACTIVE=development
ExecStart=/usr/share/servers/shooting/ipsc/service.sh

SuccessExitStatus=143

[Install]

WantedBy=multi-user.target